@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);
@import url(/src/assets/styles/utility-new.css);

:root {
  --wishlist-color: #ff0000;
  --clear-filter: #0000ff;
}

.hero-image {
  width: 100vw;
  height: 80rem;
}

.c-navbar {
  position: fixed;
}

.avatar {
  margin-right: 5rem;
  width: 40rem;
  height: 40rem;
}

.category {
  position: relative;
  right: -14rem;
}

.landing-section a {
  text-decoration: none;
  color: var(--primary-color);
}
